# General
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=
ACCOUNT_EMAIL_VERIFICATION=optional
FRONTEND_URL=http://localhost:3000

# Database
DATABASE_HOST=
DATABASE_PORT=
DATABASE_DB=
DATABASE_USER=
DATABASE_PASSWORD=

DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]